<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../js/layer/skin/default/layer.css" />
    <link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css" />
    <link rel="stylesheet" href="../js/bootstrap-table/tree-column/bootstrap-table-tree-column.css" />

</head>
<body>
<div style="margin-left: auto;margin-right: auto;width: 95%">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div style="position: absolute;top:15px" id="btns">
                        <a shiro:hasPermission="book:borrow" href="#" class="btn btn-success  btn-sm" data-code="book:borrow">
                            <i class="icon-cog"></i>借阅图书
                        </a>

                            <a shiro:hasPermission="book:add" href="#" class="btn btn-primary  btn-sm" data-code="book:add">
                                <i class="icon-ok"></i>新增
                            </a>

                            <a shiro:hasPermission="book:update" href="#" class="btn btn-warning btn-sm" data-code="book:update">
                                <i class="icon-edit"></i>编辑
                            </a>

                            <a shiro:hasPermission="book:delete" href="#" class="btn btn-danger btn-sm" data-code="book:delete">
                                <i class="icon-trash"></i>删除
                            </a>

                    </div>
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>
    <div id="bookUI" class="col-xs-12 col-sm-12" style="display: none">
        <label for="form-field-select-2">选择借阅人</label>
        <select class="form-control" id="userId"></select>
    </div>
</div>
<head th:include="commom2"/>
<script src="../js/bootstrap-table/tree-column/bootstrap-table-tree-column.min.js"></script>
<script src="../js/book/list.js?ver=0.8.2"></script>
</body>
</html>