<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunlands.library.mapper.BookInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sunlands.library.domain.BookInfo" >
    <id column="b_id" property="bId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="author" property="author" jdbcType="CHAR" />
    <result column="public" property="press" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <association property="currentDetail" column="b_id" select="com.sunlands.library.mapper.BookUserDetailMapper.getCurrentDetailById"></association>
  </resultMap>
  <sql id="Base_Column_List" >
    b_id, name, type_id, author, public, status
  </sql>

  <select id="getAllBooks" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from book_info
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from book_info
    where b_id = #{bId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from book_info
    where b_id = #{bId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sunlands.library.domain.BookInfo" >
    insert into book_info (b_id, name, type_id, 
      author, public, status
      )
    values (#{bId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, 
      #{author,jdbcType=CHAR}, #{public,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sunlands.library.domain.BookInfo" >
    insert into book_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bId != null" >
        b_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="press != null" >
        public,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bId != null" >
        #{bId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        #{author,jdbcType=CHAR},
      </if>
      <if test="press != null" >
        #{press,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunlands.library.domain.BookInfo" >
    update book_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=CHAR},
      </if>
      <if test="press != null" >
        public = #{press,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where b_id = #{bId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunlands.library.domain.BookInfo" >
    update book_info
    set name = #{name,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      author = #{author,jdbcType=CHAR},
      public = #{public,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where b_id = #{bId,jdbcType=INTEGER}
  </update>
</mapper>